.header {
  background: #090909;
  margin: 1rem;
  padding: 1rem;
}
.logo {
  color: white;
  text-shadow: none;
}
body {
  background: #090909;
}
p, h1, h2,div {
  text-align: center;
  color: ivory;
}
a {
  color: ivory;
  text-shadow: none;
}
a:hover {
  color: gray;
}
textarea {
  resize: none;
}
