section {
  transform: translate(0px, -160px);
  text-align: center;
  margin-bottom: -6rem;
}
body {
  background: #090909;
  text-align: center;
  color: ivory;
}
article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
p, h1 {
  text-align: center;
  color: ivory;
}
h2 {
  display: flex;
  flex-direction: row;
  width: 20%;
  margin: 0;
  font-size: 35px;
  color: ivory;
}
b {
position: relative;
bottom: 40px;
right: 75px;
font-weight: lighter;
font-style: italic;
}
a {
  color: ivory;
  text-shadow: none;
  font-size: 25px;
}
a:hover {
  color: gray;
}
textarea {
  resize: none;
  max-width: 60%;
}
strong {
  opacity: .4;
}
img {
  width: 12%;
  margin: .5rem;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
}
span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: gray;
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
  background: gray;
}
input {
  width: 60%;
}


@media only screen and (max-width: 700px)
{
  img {
    width: 15%;
  }
  a {
    font-size: 18px;
  }
  b {
    font-size: 14px;
    bottom: 10px;
    right: 20px;
  }
  h2 {
    font-size: 20px;
    width: 80%;
  }
  section {
    transform: translate(0px, 0px);
    text-align: center;
    margin-bottom: 2rem;
  }
  article {
    flex-direction: column;
  }
  span {
    align-items: center;
  }
}
