.header {
  background: #090909;
  margin: 1rem;
  padding: 1rem;
}
.logo {
  color: white;
  text-shadow: none;
}
.main {
  display: inline-block;
  width: 20%;
}

body {
  background: #090909;
}
p, h1, h2,div {
  text-align: center;
  color: ivory;
}
a {
  color: ivory;
  text-shadow: none;
}
a:hover {
  color: gray;
}
textarea {
  resize: none;
}
img {
  width: 10%;
  margin: .5rem;
}

@media only screen and (max-width: 600px)
{
  img {
    width: 15%;
  }
}
